[submodule "site-lisp/po-mode"]
	path = site-lisp/po-mode
	url = git@github.com:chen-chao/po-mode.git
[submodule "site-lisp/zh-align.el"]
	path = site-lisp/zh-align.el
	url = git@github.com:chen-chao/zh-align.el.git
[submodule "site-lisp/lpy"]
	path = site-lisp/lpy
	url = https://github.com/abo-abo/lpy.git
[submodule "site-lisp/jieba"]
	path = site-lisp/jieba
	url = https://github.com/cireu/jieba.el.git
[submodule "site-lisp/elispfl"]
	path = site-lisp/elispfl
	url = https://github.com/cireu/elispfl.git
[submodule "site-lisp/whicher"]
	path = site-lisp/whicher
	url = https://github.com/abo-abo/whicher.git
