[submodule "site-lisp/emacs-application-framework"]
	path = site-lisp/emacs-application-framework
	url = https://github.com/manateelazycat/emacs-application-framework.git
[submodule "site-lisp/emacs-wttrin"]
	path = site-lisp/emacs-wttrin
	url = git@github.com:chen-chao/emacs-wttrin.git
[submodule "site-lisp/po-mode"]
	path = site-lisp/po-mode
	url = git@github.com:chen-chao/po-mode.git
[submodule "site-lisp/emacs-zh-align"]
	path = site-lisp/emacs-zh-align
	url = git@github.com:chen-chao/emacs-zh-align.git
[submodule "site-lisp/lpy"]
	path = site-lisp/lpy
	url = https://github.com/abo-abo/lpy.git
